.img {
  border-radius: 5px;
  width: 100%;
}

.title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
}
.address {
  text-align: center;
}
.description {
  text-align: center;
}
